@import './variable';

.change-avatar {
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
  }
  .change-avatar__window-change-avatar {
    background: $white-color;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    padding: 40px 30px;
    width: 340px;
    height: 257px;
    text-align: center;
    position: relative;
  }
  
  .close-modal-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    font-size: 16px;
    color: #b9b9b9;
  }
  .close-modal-btn{
      &:hover{
        color:$blue-color;
        }
  }
  
  .input__file {
    visibility: hidden;
    position: absolute;
  }
  .input_file_btn {
    display: block;
    color: $blue-color;
    text-decoration: underline;
    padding: 30px 20px 60px;
    cursor: pointer;
  }
  